[submodule "site"]
	path = test
	url = https://github.com/dimaslanjaka/site.git
	branch = hexo-renderers
[submodule "package"]
	path = package
	url = https://github.com/dimaslanjaka/hexo-renderers.git
	branch = master
