[submodule "packages/markdown-it"]
	path = packages/markdown-it
	url = https://github.com/dimaslanjaka/markdown-it.git
	branch = master
[submodule "test/test-site"]
	path = test/test-site
	url = https://github.com/dimaslanjaka/site.git
	branch = hexo-renderers
[submodule "packages/markdown-it-math"]
	path = packages/markdown-it-math
	url = https://github.com/dimaslanjaka/markdown-it-math.git
	branch = master
